@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --color-sec: #282c4a;
  --color-primary: #191C32;
  --color-white: #ffffff;
  --color-active: #F09654;
}

.columnBox {
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}